#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.chart-container {
  width: 100%;
  overflow: hidden;
}

.recharts-wrapper {
  overflow: visible !important;
}

.recharts-surface {
  width: 100% !important;
  height: 100% !important;
}

.recharts-legend-wrapper {
  padding-bottom: 16px !important;
}

.recharts-legend-item {
  white-space: normal;
  word-break: break-word;
  padding: 4px 8px;
}

@media (max-width: 768px) {
  .chart-container {
    padding: 0;
  }

  .recharts-legend {
    font-size: 12px;
  }

  .recharts-legend-item {
    padding: 2px 4px;
    margin: 2px 0;
  }
}

.read-the-docs {
  color: #888;
}
